@font-face {
    font-family: 'comicbd';
    src: url('fonts/comicbd.eot');
    src: url('fonts/comicbd.eot') format('embedded-opentype'),
         url('fonts/comicbd.woff2') format('woff2'),
         url('fonts/comicbd.woff') format('woff'),
         url('fonts/comicbd.ttf') format('truetype'),
         url('fonts/comicbd.svg#comicbd') format('svg');
}


body{
   background-image: url(../img/bg-news.jpg) ;
  background-attachment: fixed;
  height: auto;
  width: auto;
  -webkit-background-size: 100%;
  background-size: 100%;
}


#header{
  background-image: url(../img/bg-header.jpg)  ;
  height: 250px;
  width: auto;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.navbar{
  margin-top: 20px;
  display: inline;


}

.navbar li a {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'comicbd';
    border-bottom: 0px;
    display: inline;
  }

  .navbar li {
  margin-right: 34px;
  display: block;
  float: left;

}
header {
    padding-top:70px;
}
nav{
  padding-left: 90px;
  padding-top: 20px;
}






#footer{
background-image: url(../img/bg-footer.jpg) ;
height: 125px;
  width: auto;
  -webkit-background-size: 100%;
  background-size: 100%;
}
